:root{
    --back: #0B2027;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    /* height: 100vh; */
}

hr{
    width: 500px;
    margin-bottom: 30px;
}
hr{
    width: 80%;
}
#mainCont{
    
    display: flex;
    flex-direction: row;
    background-color: var(--back)
}
body{
    background-color: var(--back);
}

.title{
    height: 30px;
    color: rgb(255, 255, 255);
}
.board{
    min-width: 720px;
    
}











.cform{
    background-color: #4399b6;
    padding: 10px;
    display:flex;
    flex-direction: column;

}
.cformfields{
    display:flex;
    flex-direction: column;
}

.labela{
    
    align-self:flex-start;
}


/**{
    cursor: url(img/bruss.svg), auto;
}
*/
.emoji_holders{

    width:37px;
    height: 37px;
    border: 5px solid rgb(62, 5, 5);
    background-color: black;
    background-position: center;
    background-size:90% 90%;
    background-repeat: no-repeat;

}




.start{
   /*samo za obelezavanje pocetka*/ 
}
.end{
    /*samo za obelezavanje kraja*/
}



#display{
    /* margin-left: 5%; */
}

#board{
    width: 960px;
    height: 720px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 15px solid #40798c;
    border-radius: 12px;

}
.growAndShrink{
    animation: growShrink 0.6s ease-in-out forwards;
}

@keyframes growShrink {
    0% {
        transform: scale(1); /* Normalna veličina */
    }
    30%{
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.3); /* Povećaj na 120% */
    }
    100% {
        transform: scale(1); /* Vrati se na normalnu veličinu */
    }
}
.tile{
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    /* border: 1px solid lightgray; */
    background-color: #F2F7F2;
    /* border: 1px solid rgb(62, 5, 5); */
    /* border: 1px solid #40798c; */
    border: 1px solid #047a9e52;
    /* border: 1px solid #e8ebf3; */
    /* border-right: 1px solid black; */
    /* border-bottom: 1px solid black; */
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* #main{
    display: flex;

} */
#formSettings{
    box-sizing: border-box;
    height: 688px;
    width: 330px;
    background-color: rgb(87 152 172);
    border: 15px solid rgb(87 152 172);
    color: white;
    border-radius: 15px;
    height: 720px;
    
    /* margin-top: 105px; */
    /* padding-right: 100px; */
    /* background-color: rgb(70, 63, 63); */
    /* padding-bottom: 10%; */
}
#form{

    margin-right: 40px;
    align-self: flex-end;
    height: 720px;
    width:330px;
    background-color: #40798c;
    padding: 15px;
    border-radius: 15px;
    
}
.pickerDiv{

    margin-bottom: 20px;
    background-color: #f2f7f2;
    border: 4px solid #0B2027;

    border-radius: 10px;
    width:46px;
    height: 46px;
}

.rabbit_image{


    /* border: 5px solid rgb(62, 5, 5); */
    /* background-color: black; */
    background-position: center;
    background-size:90% 90%;
    background-repeat: no-repeat;
    background-image: url(img/rabbit.png);
}

.carrot_image{

    /* border: 5px solid rgb(62, 5, 5); */
    /* background-color: black; */
    background-position: center;
    background-size:90% 90%;
    background-repeat: no-repeat;
    background-image: url(img/carrot.png);
}

.brush_image{


    /* border: 5px solid rgb(62, 5, 5); */
    /* background-color: black; */
    background-position: center;
    background-size:90% 90%;
    background-repeat: no-repeat;
    background-image: url(img/brush.png);
}

.sandbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 22px;
}

.formFieldsButtons{
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button1{
    /* border-radius: 10px; */
    border: 3px solid rgb(26, 4, 4);
    margin-top: 5%;
    width: 85%;
    height: 50px;
    /* background-color: #f2f7f2; */
    background-color: #dafdff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;

}

.cselect{
    -webkit-appearance: none; /* Skini podrazumevanu strelicu na Webkit (Chrome, Safari) */
    -moz-appearance: none;    /* Skini podrazumevanu strelicu na Firefox */
    appearance: none;         /* Skini podrazumevanu strelicu */

    width: 85%;
    align-self: center;
    /* background-color: #f2f7f2; */
    background-color: #dafdff;
    height: 46px;
    text-align: center;
    border-radius: 0px;
    border-radius: 8px;
    border: 3px solid black;
    font-size: 16px;
    font-weight: 600;

    background-image: url('img/dropdown5.png');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Pozicija PNG strelice */
    background-size: 25px; /* Podešavanje veličine strelice */
    /* align-content: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* font-weight: 600; */
}

.legend{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin-right: 15px;
    margin-top: 55px
}

.legendItem{
    display: flex;
    flex-direction: row;
}

.colorItem{
    border-radius: 5px;
    margin-left: 22px;
    width: 30px;
    height: 30px;
    border: 3px solid black;
}

.labelItem{
    font-weight: 550;
    margin-left:10px;
    align-self: center;
    
}
